body {			
	background-color:white;	
}

#container{	
	margin-top: 2%;	
}

#navigation {			
	position: relative;
	left: 1%;
	min-width: 48px;
	max-width: 48px;	
	color: green;
	z-index: 2;
}
#navbar {
	font-weight: bold;
	font-size: 20px;	
}
#goodieBox {						
	position: relative;
	margin-left: 60%;
	padding-left: 20%;
	white-space: nowrap;
	top: -100px;	
	left: 45px;
}
#queueTable{
	position: relative;				
	font-size: 9px;			
	width: 100px;
	max-width: 50px;
	color: black;
	z-index: 2;			
}

#statusTableHeader{	
	font-size: 10px;			
	font-weight: bold;
	background-color: green;	
	color:  #E3F8E3;	
}

#inputBox {			
	margin-bottom: 0.5%;
	position: relative;
	min-width: 300px;
	max-width: 300px;
	width: 300px;
	z-index: 1;
	top: 40px;
}

#addToQueueButton {	
	position: relative;	
	text-align: center;	
	margin-top: 10px;	
}
#saveConfigButton {
	position: relative;
	margin-top: 6px;
	font-size: 9px;
}

#configContainer {
	position: relative;	
	min-width: 300px;
	max-width: 500px;
	width: 500px;	
}

#configBoxes{	
	color:black;	
	font-size: 10px;		
	min-width: 200px;
	max-width: 200px;
}
#QueueErrorBox{
	position: relative;
	color:black;
	font-weight: bold;
	top: 6px;
	font-size: 10px;
}

.smallpy{
	font-size: 25px;
	color: green;
	margin-right: -.2%;	
}

.bigpy{
	font-size: 30px;
	font-weight: 600;	
}

a.smallpylink:link {text-decoration: none; color:green;}
a.smallpylink:visited {text-decoration: none; color:green;}
a.smallpylink:hover {text-decoration: none; color:green;}
a.smallpylink:active {text-decoration: none; color:green;}

a.bigpylink:link {text-decoration: none; color:black;}
a.bigpylink:visited {text-decoration: none; color:black;}
a.bigpylink:hover {text-decoration: none; color:black;}
a.bigpylink:active {text-decoration: none; color:black;}