body {			
	background-color:white;	
}

#container{	
	margin-top: 2%;	
}

#navigation {			
	position: relative;	
	left: 25%;	
	min-width: 48px;
	max-width: 48px;	
	color: green;
	z-index: 2;
}
#goodieBox {						
	position: relative;
	margin-left: 31%;
	top: -72px;	
	left: 45px;
}
#queueTable{
	position: relative;
	table-layout:fixed;
	min-width: 500px;
	max-width: 500px;
	width: 500px;	
	color: black;
	z-index: 2;
}




#statusTableHeader{	
	font-size: large;
	background-color: green;	
	font-weight: bold;
	min-width: 120px;	
	max-width: 400px;
	color:  #E3F8E3;	
	z-index: 2;
}

#inputBox {			
	margin-bottom: 0.5%;
	position: relative;
	min-width: 300px;
	max-width: 300px;
	width: 300px;
	z-index: 1;

}

#addToQueueButton {	
	position: relative;	
	text-align: center;	
	margin-top: 10px;		
}
#saveConfigButton {
	position: relative;
	margin-top: 6px;
	font-size: 9px;
}

#configContainer {
	position: relative;	
	min-width: 300px;
	max-width: 500px;
	width: 500px;	
}

#configBoxes{	
	color:black;	
	font-size: 10px;		
	min-width: 200px;
	max-width: 200px;
}

.smallpy{
	font-size: 25px;
	color: green;
	margin-right: -.2%;	
}

.bigpy{
	font-size: 30px;
	font-weight: 600;	
}

a.smallpylink:link {text-decoration: none; color:green;}
a.smallpylink:visited {text-decoration: none; color:green;}
a.smallpylink:hover {text-decoration: none; color:green;}
a.smallpylink:active {text-decoration: none; color:green;}

a.bigpylink:link {text-decoration: none; color:black;}
a.bigpylink:visited {text-decoration: none; color:black;}
a.bigpylink:hover {text-decoration: none; color:black;}
a.bigpylink:active {text-decoration: none; color:black;}