<!DOCTYPE html>
<html>
<title>
	pyDownloader
</title>
<head>    
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css" type="text/css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>

    <a href="index" class='smallpylink'><span class="smallpy">py</span></a>
    <a href="index" class='bigpylink'><span class="bigpy">Downloader</span></a> 
</head>

<body>
	<div id = "container">
		<div id = "navigation">
			<div id = "navbar">
				<a href="index" class="smallpylink">Home<br></a>
				<a href="queue" class="smallpylink">Queue<br></a>
				<a href="history" class="smallpylink">History<br></a>
				<span style="color:black">Config<br></a></span>
			</div>
		
			<div id = "goodieBox">
				<div id = "configContainer">
					<form name = "config" method="post">
						
						<div id="configBoxes">
							<table>
								<!-- Only display each config_type once then build its parameters !-->
								<% header_tracker = [] %>
								%for db_id, config_type, config_param, value, html_tag, html_display_name in config_data:									
																		
									%if config_type not in header_tracker:									
										<th>${config_type}</th>
										<% header_tracker.append(config_type) %>
									%endif

									<tr>
										<td>${config_param}</td>
										<td><input type=${html_tag} value=${value}></input></td>
									</tr>

								%endfor
									
							</table>													
						</div>						
						<div id="saveConfigButton">
							<input type = "submit" value = "Save">
						</div>
					</form>

				</div>					
			</div>
		</div>
	</div>
<body>