{% extends "base.html" %}

{% block title %}pyDownloader - History{% endblock %} 

{%block body%}
	<div id="goodieBox">
		<div class = "col-xs-10"></div>		

		<div class = "col-xs-2 text-right control-panel">			
			<a id= "clear_history" class="black-link"><span class="glyphicon glyphicon-hdd"></span>Clear History</a>
		</div>

		<div class = "col-xs-12">		
			<div id="queueTable">
			    <table class="table table-bordered table-responsive">	    	
			    	<th class="text-center statusTableHeader table_url">URL</th>
	    			<th class="text-center statusTableHeader  status">Status</th>    			
	    			<th class="text-center statusTableHeader added_on">Added On</th>
	    			<th class="text-center statusTableHeader source">Source</th>				    	
				       {% for row_id, url, status, time_queued, source in historical_queue_data %}
				       {% if status == "Successful"%}
				       	 <tr class = "success">
				       {% elif status == "Failed" %}
				         <tr class = "danger">
				       {% else %}
				       	 <tr>
				       {% endif %}
				        	<td class="table_pad table_url">{{url[:150]}}</td>
				        	<td class="table_pad status">{{status}}</td>			        	
				        	<td class="table_pad added_on">{{time_queued}}</td>
				        	<td class="table_pad source">{{source}}</td>					        	
				        </tr>					       
				        {% endfor %}			    	
			    </table>
			</div>
		</div>
	</div>					    	
{% endblock %}