{% extends "base.html" %}

{% block title %}pyDownloader - Queue{% endblock %} 

{%block body %}	
	<div id = "goodieBox">
		<div id="queueTable">
		    <table class="table table-bordered table-responsive">				    	
		    	<th class="text-center statusTableHeader table_url">URL</th>
		    	<th class="text-center statusTableHeader status">Status</th>	    	
		    	<th class="text-center statusTableHeader status">Progress</th>
		    	<th class="text-center statusTableHeader added_on">Added On</th>
		    	<th class="text-center statusTableHeader source">Source</th>
			       {% for row_id, url, status, time_queued, source in active_queue_data %}
			        <tr>
			        	<td class="table_pad">{{url}}</td>
			        	<td class="table_pad">{{status}}</td>
			        	{%if status == "Downloading" %}
			        	<td class="table_pad text-center">{{ downloads.get(row_id|string) }}</td>
			        	{%else%}
			        	<td class="table_pad text-center"> -- </td>
			        	{%endif%}
			        	<td class="table_pad">{{time_queued}}</td>
			        	<td class="table_pad">{{source}}</td>
			        </tr>
			        {%endfor%}	    
		    </table>
		</div>
	</div>
				
{% endblock %}